<html>
<head>

<style>
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 30%;
}
td {
  border: 0px solid #000;
  width: 120px;
}
td+td {
  width: auto;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

</head>

<body>
<!--video tag -->
<video id="video" width="640" height="480" ></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" hidden  width="640" height="480"></canvas>
<H1><div id="result" ></div></H1>
<image id="detect_image"></image>

<script>

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
}

//websocket client
if ('WebSocket' in window){
	 console.log('WebSocket is supported');

  }
var socket = io();


// Elements for taking the snapshot
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var video = document.getElementById('video');
var detect_image =document.getElementById("detect_image")

socket.on('object_detection_event', function(msg){    
    console.log('got object_detection_event')
  	detect_image.src='data:image/png;base64,'+msg
});



// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {
	
	context.drawImage(video, 0, 0, 640, 480);	
	var data = canvas.toDataURL();	
	//remove prefix string "data:image/png;base64,"
	var base64=data.replace(/^data:image\/(png|jpg);base64,/, "");
	//console.log(base64)
	socket.emit('capture_event',base64)
});

</script>
<h1>購買明細</h1>


<button id='add', type='button'> add </button>
<button id='getall', type='button'> get all</button>
<h1> <span id="amount"> 0 </span> 元 </h1>

<div id="container">
<table id="item-table">
 <tbody>

  </tbody>
</table>
</div>



<script>



//------websocket stuff--------------------

socket.on('connect', function() {
	 console.log('I connect successfully');

});

socket.on('new_item_event', function(msg){    
    console.log('got new_item_event')
	itemlist=JSON.parse(msg['data'])
    console.log(itemlist)
	add_item(itemlist)
});


socket.on('detected_objects', function(msg){    
    console.log('got detected_objects')
	itemlist=JSON.parse(msg['objs'])
    console.log(itemlist)
	add_item(itemlist)
});





//---JQuery stuff-----------------------

update_amount()


$(document).on('click', ".remove-me", function(e){
    var entry = $(this).parent().parent(); 
    entry.remove();  //remove entry from tr(table row)
	update_amount();
});


$("#add").on('click', function(e){
   //$("#item-table").last().append(" <tr><td><a href=''>可樂汽水</a> </td><td>40	</td>  <td>    <button type='button' class='remove-me'> Del </button></td></tr>");  
    socket.emit('new_item_event','')
    update_amount();
});

$("#getall").on('click', function(e){

  socket.emit('get_allitem_event','')

});


function add_item(itemlist) {

  //console.log(itemlist)
  
  for (i in itemlist) {
  
  
  item=itemlist[i]
  $("#item-table").last().append(" <tr><td><a href=''>"+item['p_name']+'</a></td><td>'+
									item['p_price']+"</td><td><button type='button' class='remove-me'> Del </button></td></tr>");  
   }  


  update_amount();
	
	
}	


function update_amount(){
 
 total=0
 $('#item-table tr').each(function() {
	
     price = $(this).find("td").eq(1).html();  
	 //console.log($(this).find("td").eq(0).html()) //<a href="/local/path/1">可樂汽水</a>
	 total+=parseFloat(price)
});

  $("#amount").html(total)

}





</script>
</body>
</html>